<div class="container" *ngIf="project">
    <h2>{{title}}</h2>

    <div class="message success" *ngIf="status == 'success'">
        El proyecto se ha creado correctamente, <a [routerLink]="['/proyecto/', saveProject._id]">puedes verlo aquí</a>
    </div>

    <div class="message failed" *ngIf="status == 'failed'">
        El proyecto no se ha creado correctamente
    </div>

    <!--En esta parte le indicamos que este es un formulario de angular
    y cuando este presente un evento "ngSubmit", este ejecutará el
    método "onProjectSubmit()" que se encuentra en el componente"-->
    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Nombre</label>
            <!--Aquí se destaca que el valor que se introduzca en este "input" se guardará en
            el atributo del componente "project.name"-->
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name"
            required/>
        </p>
        <!--Esto es una especie de if dentro de un html, es de angular, se utiliza para
        añadir efectos o hacer validaciones como es este caso-->
        <span class="formError" *ngIf="name.touched && !name.valid">
            El nombre es obligatorio
        </span>

        <p>
            <label for="description">Descripción</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="project.description"
            required></textarea>
        </p>
        <span class="formError" *ngIf="description.touched && !description.valid">
            La Descripción del proyecto es obligatoria
        </span>

        <p>
            <label for="category">Categoria</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category"
            required/>
        </p>
        <span class="formError" *ngIf="category.touched && !category.valid">
            La categoria del proyecto es obligatoria
        </span>

        <p>
            <label for="year">Año de desarrollo</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year"/>
        </p>

        <p>
            <label for="langs">Lenguajes utilizados</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs"
            required/>
        </p>
        <span class="formError" *ngIf="langs.touched && !langs.valid">
            Los lenguajes de desarrollo son obligatorios
        </span>

        <p>
            <label for="image">Imagen del proyecto</label>
            <span class="image" *ngIf="project.image" style="float:none;">
                <img src="{{url+'get-image/'+project.image}}" style="width:100px;"/>
            </span><br/>
            <input type="file" name="image" placeholder="subir imagen" 
            (change)="fileChangeEvent($event)"/>
        </p>

        <input type="submit" value="enviar" [disabled]="!projectForm.form.valid"/>
    </form>
</div>
