<div class="container">    
    <div class="imageDetail">
        <img src="{{url+'getImage/'+project.image}}" *ngIf="project.image"/>
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h3>{{project.description}}</h3>
        <p>{{project.category}}</p>
        <p>{{project.langs}}</p> 

        <!--Esto es una confirmación para cuando se quiera eliminar un elemento.-->
        <p *ngIf="confirm == false">
            <a [routerLink]="['/editar-proyecto/',project._id]" class="button-edit">Editar</a>
            <a (click)="setConfirm(true)" class="button-delete">Eliminar</a>
        </p>
        <p *ngIf="confirm == true">
            <span class="confirm">¿Estas seguro de querer eliminar este proyecto?</span>
            <a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
            <a (click)="deleteProject(project._id)" class="button-delete">Eliminar definitivamente</a>
        </p>
    </div>
</div>