<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subTitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>
        Sobre mi
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget turpis porta, ullamcorper risus porttitor, sodales lacus. Mauris vel urna semper, accumsan lacus vitae, pulvinar diam. Fusce vitae euismod orci. Nullam iaculis felis nibh, id luctus magna porttitor ac. Nulla vitae libero neque. Morbi rhoncus sit amet nisi non mollis. Donec nisl eros, hendrerit id interdum sit amet, tincidunt id tortor. Etiam dapibus elit justo, quis ultricies mauris laoreet vel. Morbi sed ex sed justo maximus varius.
    </p>
</article>
