
/* Archivo css para customizar los estilos del proyecto.

Recuerda que cuando quieras que este css se vincule al proyecto tienes que
declararlo en el "Angular.json" en el array de "Styles"*/

/*La regla "@font-face" se utiliza para cargar o importar fuentes de texto
externas*/
@font-face {
    font-family: "yanone";
    src: url(./fonts/yanone.ttf);
}

@font-face {
    font-family: "finger";
    src: url(./fonts/finger.ttf);
}

/*Reglas de estilo generales*/
*{margin: 0px;
padding: 0px;
}

body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20px;
    background: url("../img/pattern.png");
    background-attachment: fixed; /*Importante para que los demas elementos se adecuen de manera correcta. no poner "position: fixed"*/
}

/*Se utilizará para limpiar los flotados entre los diferentes elementos*/
.clearFix{
    float: none;
    clear: both;
}

/*Barra de navegación(Header)*/
header{
    display: block;
    width: 100%;
    height: 90px;
    background: rgba(53, 103, 164, 0.8);
    position: fixed;
    text-transform: uppercase;
}

header ul{
    display: block;
    width: 52%;
    height: inherit; /*Es para que hedere esa regla de estilo del padre*/
    margin: 0px auto;
    margin-top: -3px;
}

header ul li{
    display: inline-block; /*Se utiliza para que los elementos se acomoden a un lado del otro.*/
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

/*Para que al momento de pasarle el mouse por enfrente se pinte de negro*/
header a:hover, .actived{
    background: rgba(0, 0, 0, 0.8);
}

#logo{
    font-family: "finger";
    font-size: 30px;
}

#logo a{
    transition: color 500ms, transform 500ms; /*Agregamos una transición que afectara al color y al transform en una velocidad de 500 milisegundos*/
}

/*Le damos un hover tranparente al logotipo para que no se vea diferente, ademas le damos la transición para escalar el logotipo y pintar su texto a negro*/
header #logo a:hover{
    background: transparent;
    color: black;
    transform: scale(1.50, 1.50);
}

/*Contenedor principal*/
#content{
    min-height: 570px;
    height: auto;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    background: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
}

/*Reglas del Footer*/
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 25px;
    color: rgba(0, 0, 0, 0.5);
}

/*Sobre mi component*/
#title{
    width: 70%;
    margin: 0px auto;    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 75px;
    text-align: center;
}

#title h1{
    font-family: "finger";
    font-size: 60px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#title h2{
    font-size: 25px;
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

article.about{
    width: 70%;
    margin: 0px auto;
    margin-bottom: 20px;
    font-size: 23px;
}

.about h2{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.about p{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}

/*Estilos generales de la página de crear proyecto*/
.container{
    padding: 50px;
    padding-top: 10px;
}

.container .imageDetail{
    float: left;
    width: 60%;
}

.container .imageDetail img{
    width: 100%;
}


.container .data{
    display: block;
    float: left;
    width: 30%;
    margin-left: 30px;
    text-align: justify;
}

.container h2{
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

/*Estilos para la sección del formulario*/
form{
    width: 80%;
}

form label{
    display: block;
    width: 100%;  
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea{
    width: 40%;
    padding: 5px;

}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
    display: block;
    font-size: 17px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    background: rgba(53, 103, 164, 1);
    border: 1px solid rgba(13, 67, 133, 1);
    cursor: pointer;
}

.button-edit,
.button-delete{
    width: 40%;
    float: left;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
}

.button-edit{
    background: #9AF512;
}

.button-delete{
    background: #FF5656;
}

form button:hover,
form input[type="submit"]:hover{
    background: rgba(53, 103, 164, 0.8);
    border: 1px solid rgba(13, 67, 133, 1);
}

form input[disabled]{
    opacity: 0.4;
    cursor: not-allowed;
}

.formError{
    font-size: 13px;
    padding: 3px;
    background: red;
    color: white;
    margin-left: 5px;
}

/*Mensaje de exito o fallo*/
.message{
    width: 50%;
    padding: 5px;
    border: 1px solid #eee;
}

.success{
    background: green;
    color: white;
}

.message a{
    color: white;
}

.failed{
    background: red;
    color: white;
}

/*Estilos de la página de proyectos*/
.project{
    list-style: none;
    display: block;
    float: left;
    width: 40%;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.project .image{
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.project img{
    width: 100%;
}

.project a{
    text-decoration: none;
    color: black;
}
/*Estilos del mensaje de confirmación*/
.confirm {
    display:block;
    font-weight: bold;
    margin-top: 20px;
}